@media (min-width: 769px) and (max-width: 1200px){

    .forms-container{
        margin-top: 0px;
    }
    #form-nav{
        width: 50%;
    }

    #form-nav li{
        display: inline-flex;
        width: 100%;
    }

    #form-nav ul{
        width: 100%;
        display: inline-flex
    }

    #login-form input[type=submit], .submit-button{
        width: 20%;
    }

    input[type=text], input[type=password]{
        width: 50%;
    }

    .submit-button-container{
        width: 50%;
    }

    .input-half{
        width: 24.5% !important;
    }
}