@media (min-width: 481px) and (max-width: 768px){

    .forms-container{
        margin-top: 0px;
    }
    #form-nav{
        width: 70%;
    }

    #form-nav li{
        display: inline-flex;
        width: 100%;
    }

    #form-nav ul{
        width: 100%;
        display: inline-flex
    }

    #login-form input[type=submit], .submit-button{
        width: 30%;
    }

    input[type=text], input[type=password]{
        width: 70%;
    }

    .submit-button-container{
        width: 70%;
    }

    .input-half{
        width: 34.5% !important;
    }

    
    .profile-container{
        width: 70%;
        transform: translateX(0%);
        margin: auto;
    }

    .profile-picture-container{
        background-position: center;
        margin-right: 20px;
        width: 29vw;
        height: 29vw;
        margin-bottom: 20px;
    }

    .profile-container h1{
        text-align: center;
    }

    .projects-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
      }

    .project{
        border: 5px solid black;
        width: 100%;
        height: 21vw;
      }

      .project p{
        font-size: 12px;
      }

      #create-project{
        height: 21vw;
      }
}