@font-face {
  font-family: Capitana;
  src: url('./assets/fonts/Capitana\ Regular.ttf');
}
@font-face {
  font-family: CapitanaBold;
  src: url('./assets/fonts/Capitana\ Bold.ttf');
}

*{
  margin: 0;
  padding: 0;
  font-family: Capitana;
}

*:focus {
  outline: none;
}

body{
  background-image: url('./assets/bkg_pix.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}

p{
  font-size: 15px;
}

footer{
  position: absolute;
  background-color: black;
  color: white;
  margin-top: 30px;
  left: 0;
  bottom: 0;
  height: 80px;
  width: 100%;
}

#logo-static{
  width: 100px;
  margin-top: 20px;
}

#bgvideo{
  width: 100%;
  height: 100%;
}

#video-container{
  position: fixed;
}

#logogif{
  margin: auto;
  width: 25%;
}

#logo-white{
  height: 50px;
  transform: translateY(40%);
}

.bold{
  font-family: CapitanaBold;
}

.allcaps{
  text-transform: uppercase;
}

.container{
  position: absolute;
  width: 100%;
  height: 100%;
}

.centered{
  margin: auto;
  width: 100%;
  height: 100%;
  text-align: center;
}

.forms-container{
  width: 100%;
  height: 300px;
}

#form-nav ul{
  user-select: none;
  list-style: none;
  width: 100%;
  height: 100%;
}

#form-nav li{
  display: inline-block;
  
  width: 33%;
  height: 100%;
}

#form-nav li:hover{
  background-color: #00919d;
  transition: .1s;
  color: white;
}

#selected{
  background-color: black;
  color: white;
}

#form-nav{
  margin-top: 20px;
  height: 35px;
  width: 25%;
}

.login-form-container{
  width: 100%;
  margin-top: 10px;
}

input[type=text], input[type=password]{
  width: 25%;
  height: 30px;
  border: none;
  border-bottom: 2px solid black;
  background-color: transparent;
  margin-bottom: 0px;
}

.login-form input[type=submit]{
  background-color: black;
  color: white;
  border: none;
  width: 5%;
  height: 25px;
  margin-top: 0;
}

.login-form input[type=submit]:hover{
  background-color: #00919d;
}

.input-half{
  width: 12% !important;
  margin: 0.5%;
  margin-top: none !important;
}

#login-message{
  color: red;
}

.profile-container{
  width: 35%;
  transform: translateX(93%);
  text-align: left;
}

.profile-container hr{
  margin-top: 20px;
  margin-bottom: 20px;
  height: 2px;
  background-color: gray;
  border: none;
}

#profile-picture{
  height: 150px;
  width: 150px;
}
.profile-picture-container:hover{
  transition: .1s;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.3);  
}
.profile-picture-container{
  border-radius: 25px 0px 0px 25px;
  height: 150px;
  width: 150px;
  margin-right: 25px;
  float: left;
}
.profile-picture-container input{
  opacity: 0;
}


.about-container p{
  font-size: 15px;
  user-select: none;
}

.about-container hr{
  margin: 5px;
}

.projects-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 20px;
}

.project.rounded-top-left{
  border-radius: 25px 0px 0px 0px;
}

.project.rounded-top-right{
  border-radius: 0px 25px 0px 0px;
}

.project.rounded-bottom-left{
  border-radius: 0px 0px 0px 25px;
}

#create-project{
  border-color: #00919d;
  background-image: url('../src/assets/profile/add_project.png');
  background-size:cover;
  height: 10.5vw;
}

#create-project:hover{
  border-color: #00919d;
  background-color: #00919d;
  background-image: url('../src/assets/profile/add_project_hover.png');
  background-size: cover;
  transition: .1s;
}

.project{
  border: 5px solid black;
  width: 100%;
  height: 10.5vw;
}

.project-container{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 0px;
}

.project-container hr{
  margin: 10px;
  height: 2px;
  background-color: gray;
  border: none;
}

#imgUpload{
  width: 100%;
  background-color: white;
  height: 30vw;
  opacity: 0;
}
.upload-file-container{
  background-color: white;
  text-align: center;
}
.upload-file-container p{
  padding-bottom: 0;
  font-size: 10px;
  letter-spacing: 2px;
  font-weight: bold;
}

.create-project-tags{
  width: 100%;
  height: 15vw;
  background-color: white;
  margin-left: 15px;
}

#set-artwork-title{
  float: right;
}
img#set-artwork-title{
  margin: 5px;
  height: 25px;
}

textarea{
  margin-top: 20px;
  max-height: 29.6vw;
  border: none;
  width: 95.1%;
  background-color: transparent;
  border-bottom: 2px solid #808080;
  resize: vertical;
  color: black;
  overflow: auto;
  padding: 5px;
}

textarea::-webkit-scrollbar{
  width: 0px;
}

.add-cover-image{
  border: 5px solid black;
  border-radius: 25px 0 0 0;
  float: right;
  position: relative;
  width: 150px;
  height: 150px;
  margin: 10px;
}

#upload-p-container{
  background-color: red;
  position: relative;
  height: 150px;
}

.edit-hover:hover{
  color: #808080;
  transition: .2s;
}

#update-profile{
  border: none;
  width: 50%;
  margin: none;
  padding: 0;
  height: 12px;
}